<div class="spinnerpop">
  <div class="fixed top-0 left-0 w-[100vw] h-[100vh] flex flex-col items-center justify-center bg-[--acik] z-[999] pb-20">
    <div>
      <img src="/assets/logo1.png" class="w-[100px] " alt="">
    </div>
    <div class="text-[2.4rem] text-[--d-green]">
      <div class="spin icon-spin-1 spin-steps1 "></div>
    </div>
  </div>
</div>