@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
  --breakpoint-xs: 50rem;
  --breakpoint-sm: 60rem;
  --breakpoint-md: 68rem;
  --breakpoint-lg: 84rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@import "./manifest.scss";
@import "./spinner.scss";
@import "./ctrlpanel.scss";
* {
  box-sizing: border-box;
}
html,
body {
  // --acik: #faf9f7;
  --acik: #e3ecff;
  // font-family: "Inter", sans-serif, "arial";
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
      font-size: 12px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: var(--acik);
}
@import "./media.scss";
body {
  overflow: hidden;
}
input,
textarea {
  outline: none;
}
.form-label {
  @apply block mb-2 text-sm  text-gray-900 dark:text-white font-semibold;
}
.form-text {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.btn-blue {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
}
.btn-red {
  @apply text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800;
}
.btn-orange {
  @apply text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-orange-600 dark:hover:bg-orange-700 focus:outline-none dark:focus:ring-orange-800;
}

.frm-lbl {
  @apply block font-semibold text-[0.8rem] text-gray-800;
}
.btn.btn-base.btn-click,
.btn-sm.btn-base.btn-click {
  @apply from-gray-300 via-gray-100 to-gray-300;
}
.btn.btn-base.btn-disabled,
.btn-sm.btn-base.btn-disabled {
  @apply pointer-events-none text-gray-400;
}
.frm-txt,
.frm-slct,
.frm-textarea {
  box-shadow: inset 0 0 3px rgba(black, 0.1);
  @apply border border-gray-300 text-[0.8rem] px-1 h-[1.8rem] w-full outline-none bg-gray-100;
}
.frm-chckbx {
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #f3f4f6;
  border-radius: 5px;
}
