@font-face {
  font-family: "The-Icon-of";
  src: url("./fonts/The-Icon-of.woff2");
  src: local("The-Icon-of");
  src: url("./fonts/The-Icon-of.eot#iefix") format("embedded-opentype"),
    url("./fonts/The-Icon-of.woff2") format("woff2"),
    url("./fonts/The-Icon-of.ttf") format("truetype"),
    url("./fonts/The-Icon-of.woff") format("woff");
  // url("./assets/fontssvg/fonts/The-Icon-of.svg#The-Icon-of") format("svg");
  font-weight: normal;
  font-style: normal;
  // font-display: block;
  font-display: swap;
}

.tio {
  font-family: "The-Icon-of";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.manifest {
  background-image: url(./assets/logo1.png);
  background-image: url(./assets/logoY.png);
  background-image: url(./assets/logoW.png);
  background-image: url(./favicon.ico);
  background-image: url(./robots.txt);
  background-image: url(./assets/sablon.xlsx);
}
::-webkit-scrollbar {
  width: 7px; //Needed scrollbar thumb width to be 7px, so had to define whole scrollbar to be 7px wide.
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #1e3a8a;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #c70000;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-track:horizontal {
  background: #c70000;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  background-clip: padding-box;
}
.panel {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  // border:1px solid rgba(0,0,0,0.1);
}
.menubtn {
  color: #9ac8ff;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  & > *:not(:first-child) {
    margin-left: 1rem;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #d6d6d6;
  }
  &.active {
    background-color: #2445af;
    color: white;
  }
  .tio {
    font-size: 1.6rem;
  }
  & > :nth-child(2) {
    font-size: 1.2rem;
  }
}

.btn {
  background-color: #e5e7eb;
  padding: 0.25rem 1rem;
  font-size: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  transition: all 0.3s linear;
}
.btn.active {
  background-color: #2563eb;
  color: white;
}
.btn:hover::before,
.btn.active:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.ahref {
  color: rgb(0, 34, 255);
  &:hover {
    text-decoration: underline;
  }
  display: flex;
  align-items: center;
  & > * {
    margin-left: 3px;
  }
}

.yokarea {
  padding: 2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  text-align: center;
}

.mytable {
  position: relative;
  overflow: auto;
  height: calc(100vh - 110px);
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;

    thead th {
      text-align: start;
      padding: 1rem 1.2rem;
      text-wrap: nowrap;
      color: #6b7280;
      position: sticky;
      top: 0;
      background-color: #f1f1f1;
      font-weight: 500;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      z-index: 10;
    }
    // text-start px-2 py-4 border-b border-gray-300 bg-white
    tbody td{
      text-align: start;
      padding: 1rem 1.2rem;
      border-bottom: 1px soild rgba(0, 0, 0, 0.2);
    }
    tbody tr:nth-child(odd){
      background-color: white;
    }
    tbody tr:nth-child(even){
      background-color: #f1f1f1;
    }
    tbody tr:hover td{
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
.spinner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 3rem;
  font-size: 2rem;
  color:#2323a5;
  border-radius: 3px;
}
