<div class="px-5 py-4 flex items-center">
    <div class="font-semibold text-[1.4rem]">Dashbaord</div>
    <div class="flex-1"></div>
    <div class="space-x-1">
        {{!-- <button class="btn active">Tümü</button> --}}
        <button class="btn active">Bugün</button>
        <button class="btn">Dün</button>
        <button class="btn">Bu Hafta</button>
        <button class="btn">Geçen Hafta</button>
        <button class="btn">Bu ay</button>
    </div>
</div>
<div class="px-5 grid grid-cols-4 gap-5">
    <div class="panel">
        <div class="text-gray-600 font-medium">Toplam Tedarikçi Bakiyesi</div>
        <div class="font-semibold text-[1.6rem] text-green-600">
            ₺563.702,13
        </div>
    </div>
    <div class="panel">
        <div class="text-gray-600 font-medium">Toplam Firma Bakiyesi</div>
        <div class="font-semibold text-[1.6rem] text-green-600">
            ₺563.702,13
        </div>
    </div>
    <div class="panel">
        <div class="text-gray-600 font-medium">Toplam Tedarikçi Komisyonları</div>
        <div class="font-semibold text-[1.6rem] text-red-600">
            ₺563.702,13
        </div>
    </div>


    <div class="panel">
        <div class="text-gray-600 font-medium">Toplam Firma Komisyonları</div>
        <div class="font-semibold text-[1.6rem] text-green-600">
            ₺563.702,13
        </div>
    </div>
    <div class="panel">
        <div class="text-gray-600 font-medium">Toplam Ödeme</div>
        <div class="font-semibold text-[1.6rem] text-red-600">
            ₺563.702,13
        </div>
    </div>
    <div class="panel">
        <div class="text-gray-600 font-medium">Toplam Yatırım</div>
        <div class="font-semibold text-[1.6rem] text-green-600">
            ₺2.032.720,13
        </div>
    </div>
    <div class="panel">
        <div class="text-gray-600 font-medium">Toplam Çekim</div>
        <div class="font-semibold text-[1.6rem] text-red-600">
            ₺574.580,13
        </div>
    </div>
    <div class="panel">
        <div class="text-gray-600 font-semibold">Net Tutar</div>
        <div class="font-semibold text-[1.6rem] text-green-600">
            ₺2.199.880,09
        </div>
    </div>
</div>
<div class="px-5 py-4 grid grid-cols-3 gap-5 ">
    <div class="panel">
        <div class="font-medium text-gray-700">Son İşlemler</div>
        <div class="yokarea min-h-[200px]">Veri yok</div>
        <div style="display:none" class="min-h-[200px]">
            List
        </div>
    </div>
    <div class="panel">
        <div class="flex items-center justify-between">
            <div class="font-medium text-gray-700">Tedarikçiler</div>
            <a href="" class="ahref">Tümünü gör <span class="tio">arrow_long_right</span></a>
        </div>
        <div class="yokarea min-h-[200px]">Veri yok</div>
        <div style="display:none" class="min-h-[200px]">
            List
        </div>
    </div>
    <div class="panel">
        <div class="flex items-center justify-between">
            <div class="font-medium text-gray-700">Firmalar</div>
            <a href="" class="ahref">Tümünü gör <span class="tio">arrow_long_right</span></a>
        </div>
        <div class="yokarea min-h-[200px]">Veri yok</div>
        <div style="display:none" class="min-h-[200px]">
            List
        </div>
    </div>
</div>