<div class="px-5 pt-4 pb-2 flex items-center">
    <div class="font-semibold text-[1.4rem]">İşlemler</div>

</div>
<div class="px-4 pt-0 pb-4  flex items-center ">
    <div class="space-x-1 flex-1">
        {{!-- <button class="btn active">Tümü</button> --}}
        <button class="btn active" data-ur="today">Bugün</button>
        <button class="btn" data-ur="yesterday">Dün</button>
        <button class="btn" data-ur="thisWeek">Bu Hafta</button>
        <button class="btn" data-ur="lastWeek">Geçen Hafta</button>
        <button class="btn" data-ur="thisMonth">Bu ay</button>
    </div>
    <div class="flex items-center space-x-2">
        <button class="btn-excel bg-green-700 text-white rounded-md px-3 py-1 border border-gray-300">Excel
            Aktar</button>
        <div class="border border-gray-300 rounded flex items-center bg-gray-100 px-2 py-1 space-x-2">
            <div class="tio text-[1.4rem] text-gray-400">search</div>
            <input type="text" placeholder="Ara" id="search" class="bg-transparent w-full text-gray-600 font-semibold">
        </div>
    </div>

</div>


<div class="px-4">
    <div class="flex items-center space-x-2">
        <div class="">
            Toplam İşlem: <span class="txt-islem">0</span>
        </div>
        <div class="flex-1"></div>
        <div>
            Yatan: ₺<span class="txt-yatan">0</span>
        </div>
         <div>
            Çekilen: ₺<span class="txt-cekim">0</span>
        </div>
         <div>
            Bakiye: ₺<span class="txt-bakiye">0</span>
        </div>
    </div>
    <div class="relative">
        <div class="mytable">
            <table>
                <thead>
                    <tr>
                        <th class="">Onay Tarih</th>
                        {{!-- <th class="">İşlem Tarih</th> --}}
                        <th class="">İşlem ID</th>
                        <th class="">Firma</th>
                        <th class="">Tedarikçi</th>
                        <th class="">Yatan</th>
                        <th class="">Çekilen</th>
                        <th class="">Bakiye</th>
                        <th class="">Komisyon</th>

                        {{!-- <th class="">Hesap Sahibi</th> --}}
                        {{!-- <th class="">Iban/Hes.No</th>
                        <th class="">Gönderici/Alıcı</th>
                        <th class="">Kullanıcı T.C.</th>
                        <th class="">Onaylayan</th>
                        <th class="">Açıklama</th>
                        <th class="">Gönd.Açıklama</th> --}}
                    </tr>
                </thead>
                <tbody class="relative">

                </tbody>
            </table>

        </div>
        <div class="spinner">
            <div class="spin icon-spin-1 spin-steps1 "></div>
        </div>
    </div>
</div>