<div class="px-5 pt-4 pb-2 flex items-center">
    <div class="font-semibold text-[1.4rem]">Kasalar</div>


</div>
<div class="px-4 pt-0 pb-4  flex items-center justify-between">
    <div class="space-x-1 ">
        {{!-- <button class="btn active">Tümü</button> --}}
        <button class="btn active">Bugün</button>
        <button class="btn">Dün</button>
        <button class="btn">Bu Hafta</button>
        <button class="btn">Geçen Hafta</button>
        <button class="btn">Bu ay</button>
    </div>
    <div class="border border-gray-300 rounded flex items-center bg-gray-100 px-2 py-1 space-x-2">
        <div class="tio text-[1.4rem] text-gray-400">search</div>
        <input type="text" placeholder="Ara" id="search" class="bg-transparent w-full text-gray-600 font-semibold">
    </div>
</div>

<div class=" px-4">
    <div class="grid grid-cols-3 gap-3">
        <a href="/" class="panel relative">
            <div class="pb-4 flex items-center space-x-4">
                <div
                    class="w-[50px] h-[50px] text-[2rem] text-bold bg-green-200 text-green-700 flex items-center justify-center rounded-full">
                    A
                </div>
                <div>
                    <div class="font-medium 2xl:text-[1.2rem]">Alt Hesap Havale Bank</div>
                    <div class="text-[0.8rem] 2xl:text-[0.9rem] text-gray-700">
                        Kod:<span>alt1-hesap-havale-bank</span></div>
                </div>
            </div>
            <div>
                <table class="w-full text-[0.9rem] 2xl:text-[1rem]">
                    <tr class="w-1/2 text-gray-500">
                        <td>Komisyon Oranı</td>
                        <th class="text-green-600  text-start">%4</th>
                    </tr>
                    <tr class="w-1/2 text-gray-500">
                        <td>İşlem Sayısı</td>
                        <td>Toplam Tutar</td>
                    </tr>
                    <tr class="w-1/2 font-normal">
                        <th class="text-start">0</th>
                        <th class="text-start">₺561.701.00</th>
                    </tr>
                </table>
            </div>
            <div
                class="absolute font-medium top-2 right-2 bg-green-600 text-white rounded text-[0.8rem] px-2 py-1 leading-tight">
                Tedarikçi
            </div>
        </a>
        <a href="/" class="panel relative">
            <div class="pb-4 flex items-center space-x-4">
                <div
                    class="w-[50px] h-[50px] text-[2rem] text-bold bg-green-200 text-green-700 flex items-center justify-center rounded-full">
                    N
                </div>
                <div>
                    <div class="font-medium 2xl:text-[1.2rem]">NEWCC1 KREDİ KARTI</div>
                    <div class="text-[0.8rem] 2xl:text-[0.9rem] text-gray-700">Kod:<span>newcc1-kredi-kartı</span>
                    </div>
                </div>
            </div>
            <div>
                <table class="w-full text-[0.9rem] 2xl:text-[1rem]">
                    <tr class="w-1/2 text-gray-500">
                        <td>Komisyon Oranı</td>
                        <th class="text-green-600 text-start">%4</th>
                    </tr>
                    <tr class="w-1/2 text-gray-500">
                        <td>İşlem Sayısı</td>
                        <td>Toplam Tutar</td>
                    </tr>
                    <tr class="w-1/2 font-normal">
                        <th class="text-start">0</th>
                        <th class="text-start">₺561.701.00</th>
                    </tr>
                </table>
            </div>
            <div
                class="absolute font-medium top-2 right-2 bg-green-600 text-white rounded text-[0.8rem] px-2 py-1 leading-tight">
                Tedarikçi
            </div>
        </a>

        <a href="/" class="panel relative">
            <div class="pb-4 flex items-center space-x-4">
                <div
                    class="w-[50px] h-[50px] text-[2rem]  text-bold bg-blue-200 text-blue-700 flex items-center justify-center rounded-full">
                    A
                </div>
                <div>
                    <div class="font-medium 2xl:text-[1.2rem]">HARBİWİN</div>
                    <div class="text-[0.8rem] 2xl:text-[0.9rem] text-gray-700">Kod:<span>harbiwin</span></div>
                </div>
            </div>
            <div>
                <table class="w-full text-[0.9rem] 2xl:text-[1rem]">
                    <tr class="w-1/2 text-gray-500">
                        <td>Komisyon Oranı</td>
                        <th class="text-blue-500 text-start">%4</th>
                    </tr>
                    <tr class="w-1/2 text-gray-500">
                        <td>İşlem Sayısı</td>
                        <td>Toplam Tutar</td>
                    </tr>
                    <tr class="w-1/2 font-normal">
                        <th class="text-start">0</th>
                        <th class="text-start">₺561.701.00</th>
                    </tr>
                </table>
            </div>
            <div
                class="absolute font-medium top-2 right-2 bg-blue-600 text-white rounded text-[0.8rem] px-2 py-1 leading-tight">
                Firma
            </div>
        </a>
        <a href="/" class="panel relative">
            <div class="pb-4 flex items-center space-x-4">
                <div
                    class="w-[50px] h-[50px] text-[2rem] text-bold bg-blue-200 text-blue-700 flex items-center justify-center rounded-full">
                    N
                </div>
                <div>
                    <div class="font-medium 2xl:text-[1.2rem]">SALAMİS LIVE</div>
                    <div class="text-[0.8rem] 2xl:text-[0.9rem] text-gray-700">Kod:<span>salamis-live</span></div>
                </div>
            </div>
            <div>
                <table class="w-full text-[0.9rem] 2xl:text-[1rem]">
                    <tr class="w-1/2 text-gray-500">
                        <td>Komisyon Oranı</td>
                        <th class="text-blue-500 text-start">%4</th>
                    </tr>
                    <tr class="w-1/2 text-gray-500">
                        <td>İşlem Sayısı</td>
                        <td>Toplam Tutar</td>
                    </tr>
                    <tr class="w-1/2 font-normal">
                        <th class="text-start">0</th>
                        <th class="text-start">₺561.701.00</th>
                    </tr>
                </table>
            </div>
            <div
                class="absolute font-medium top-2 right-2 bg-blue-600 text-white rounded text-[0.8rem] px-2 py-1 leading-tight">
                Firma
            </div>
        </a>
        <a href="/" class="panel relative">
            <div class="pb-4 flex items-center space-x-4">
                <div
                    class="w-[50px] h-[50px] text-[2rem] text-bold bg-blue-200 text-blue-700 flex items-center justify-center rounded-full">
                    N
                </div>
                <div>
                    <div class="font-medium 2xl:text-[1.2rem]">BETLİST</div>
                    <div class="text-[0.8rem] 2xl:text-[0.9rem] text-gray-700">Kod:<span>betlist</span></div>
                </div>
            </div>
            <div>
                <table class="w-full text-[0.9rem] 2xl:text-[1rem]">
                    <tr class="w-1/2 text-gray-500">
                        <td>Komisyon Oranı</td>
                        <th class="text-blue-500 text-start">%4</th>
                    </tr>
                    <tr class="w-1/2 text-gray-500">
                        <td>İşlem Sayısı</td>
                        <td>Toplam Tutar</td>
                    </tr>
                    <tr class="w-1/2 font-normal">
                        <th class="text-start">0</th>
                        <th class="text-start">₺561.701.00</th>
                    </tr>
                </table>
            </div>
            <div
                class="absolute font-medium top-2 right-2 bg-blue-600 text-white rounded text-[0.8rem] px-2 py-1 leading-tight">
                Firma
            </div>
        </a>
    </div>


</div>